body {
  margin: 0 auto;
  max-width: 1024px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
ul {
  color: #f1356d;
  margin-bottom: 30px;
}

input {
  width: 90%;
  padding: 6px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
}

.More button {
  background: #fff;
  color: #358df1;
  border: 0;
  padding: 3px;
  margin: 10px 10px;
  cursor: pointer;
  font-size: small;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  margin: 10px 10px;
}
.create h2 {
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 90%;
  padding: 6px 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: medium;
}
